<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Quem sabe sabe</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <img alt="Silhouette of mountains" src="https://s1.1zoom.me/big0/259/Spider-Man_Homecoming_Spiderman_hero_Heroes_comics_532502_1280x720.jpg" />
    <ion-card-header>
      <ion-card-title>Depende</ion-card-title>
      <ion-card-subtitle>Não sei</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      kkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Não</ion-card-title>
      <ion-card-subtitle>ola</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      hahahahahahahahahahhaha
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Deve ser</ion-card-title>
      <ion-card-subtitle>Sempre</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Leepoooooo
    </ion-card-content>
  </ion-card>


  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
