<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Leeeepooooo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Cara</ion-card-title>
      <ion-card-subtitle>Talvez</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      lllllllllllllllllllllllllllllllllllllllll
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Cara</ion-card-title>
      <ion-card-subtitle>sei sim</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Cara</ion-card-title>
      <ion-card-subtitle>sei nao</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      oooooooooooooooooooooooooooooooooooooooooooooooooooo
    </ion-card-content>
  </ion-card>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
